useDynLib(MultiModalR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, density, setNames)
importFrom(utils, install.packages, installed.packages, write.csv)
importFrom(dplyr, "%>%")

export(check_PACKS)
export(create_MM_output)
export(MM_MH)
export(MM_MH_dirichlet)
export(fuss_PARALLEL_mcmc)
export(get_MODES_enhanced)
export(group_MODES_enhanced)
export(plot_VALIDATION)
export(create_multimodal_dummy)